.reservation {
  border-bottom: solid 1px gray;
  margin-top: 4px;
  padding-top: 1em;
}

.title {
  display: block;
  font-weight: 800;
}

.name {
  padding: 2px;
  margin: 2px;
}

.subTitle {
  display: block;
  font-weight: 500;
}

.dates {
  padding: 2px;
  margin: 2px;
}

.dates::after {
  content: ' - ';
  font-weight: 800;
}

.times {
}
